body {
  margin: 0;
}

.grid {
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: 35vh;
  /* overflow: hidden; */
}

.item img {
  height: 100%;
  width: 100%;
}


